* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: block;
    color: black;
}
li {
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 1200px;

    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(bgImage.jpeg);
    background-size: cover;

    color: white;
}
header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 80px;

    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.menu {
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
}
.menu li {
    width: 100px;
    text-align: center;
}
.menu li a {
    font-style: 20px;
    font-weight: bold;
    color: white;
}
main {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 250px;

    text-align: center;
}
main h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
main h2 {
    font-size: 30px;
    margin-bottom: 50px;
}
main p {
    font-size: 30px;
    margin-bottom: 150px;
}
main button {
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    background-color: transparent;

    color: white;
    border: 3px solid white;
}
main button:hover {
    background-color: white;
    color: black;

    cursor: pointer;
}




.about {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 150px;
}
.about h2 {
    font-size: 25px;
    color: lightblue;
}
.about h1 {
    font-size: 40px;
    border-bottom: 2px solid lightblue;
}
.about .contents {
    width: 100%;
    height: 500px;
    display: flex;

    margin-top: 50px;
}
.about .left {
    width: 400px;
    height: 500px;
}
.about img {
    width: 90%;
    height: 100%;
    filter: grayscale(100%);
}
.about .right {
    width: 800px;
    height: 500px;
    padding-left: 10px;
}
.about .right h3 {
    font-size: 25px;
    color: lightblue;
}
.about .right li {
    font-size: 22px;
    margin-top: 20px;
}
.fa-brands {
    font-size: 40px;
}
.fa-youtube {
    color: red;
}
.fa-facebook {
    color: #3b5998;
}





.skills {
    height: 800px;
    background-color: #eee;
}
.skills-inner {
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    padding-top: 100px;
}
.skills h2 {
    font-size: 25px;
    color: lightblue;
}
.skills h1 {
    font-size: 40px;
    border-bottom: 2px solid lightblue;
}
.skills .contents {
    width: 1200px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;
}
.skills .contents li {
    width: 350px;
    height: 350px;
    background-color: white;

    padding: 15px;
    font-size: 20px;

    transition: 0.3s;
}
.skills h3 {
    font-size: 30px;
    font-weight: 1200;
    text-shadow: 3px 4px 0px lightblue;
    margin-bottom: 15px;
}
.skills li:hover {
    background-color: lightblue;
    color: white;
    transform: scale(1.05);
}
.skills li:hover h3 {
    text-shadow: 3px 4px 0px black;
}


.bg {
    width: 100%;
    height: 800px;

    background: url(bgImage2.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projects {
    height: 1200px;
}

.contact {
    width: 100%;
    height: 800px;
    margin-top: 100px;
}
.contact-inner {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.contact h2 {
    font-size: 30px;
    color: lightblue;
}
.contact h1 {
    font-size: 50px;
}
.contact .contents {
    width: 1200px;
    height: 800px;
    display: flex;
    margin-top: 50px;
}
.contact .contents .left {
    width: 400px;
    height: 800px;
}
.contact .contents .right {
    width: 800px;
    height: 800px;
}
.info li {
    width: 350px;
    height: 100px;
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 25px;
    border: 1px solid black;

    text-align: center;
    padding-top: 15px;
}
.contact .right h5 {
    font-weight: normal;
}
.contact .right input {
    width: 700px;
    height: 30px;
}
.contact .right textarea {
    width: 700px;
    height: 300px;

    margin-top: 10px;
}
.contact .right button {
    width: 700px;
    height: 25px;
    background-color: lightblue;

    margin-top: 50px;
    border: none;
    border-radius: 5px;
}